* {
    padding: 0;
    margin: 0;
}

.main_all_text {
    color: #151414;
    font-size: 65px;
    font-weight: 900;
}

.btn {
    border: none;
    background-color: #f15b22;
    padding: 10px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}



.header {
    height: 100vh;
    /* border: 2px solid black; */
    background-image: url("/images/banner/banner1.png");
    background-size: cover;
    background-position: center;
}

.banner {
    padding: 10px;
    max-width: 700px;
    text-align: right;
    position: absolute;
    bottom: 25%;
    right: 0;
    margin-right: 20px;

    /* border: 2px solid black; */
}

.banner_title {
    margin-bottom: 0;
}

.banner_description {
    margin-top: 20px;
    color: #444343;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* __________________________________________MAIN */
.all_main {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px;
    padding: 0px 330px;
    align-items: center;
}

.image_main img {
    padding-left: 5px;
    border-radius: 500px;
    box-shadow: 0px 10px 30px 0px #444343;
}

.info_main {
    max-width: 400px;
    max-height: 330px;
    text-align: left;
}

.info_main p {
    color: #444343;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.info_main ul li {
    margin-top: 10px;
    list-style: none;
    color: #444343;
    font-size: 22px;
    font-weight: 400;
}

/* ____________________________________PLANNING */
.planning {
    /* border: 2px solid black; */
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.all_plans {
    gap: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.plan h1 {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.plan p {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

/* ______________________________________________SECTION */
.display {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

.pic {
    height: 250px;
    width: 1000px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 0, 0)), url("../images//watch.png");

    background-size: cover;
    background-position: center;
}

.pic_text {
    padding-left: 40px;
    padding-top: 30px;
}

.pic_text h2 {
    max-width: 400px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.pic_text .btn {
    padding: 20px 40px;
    background-color: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
}

/* ___________________________________________________FOOTER */
.main_footer {
    background-color: #151414;
    display: flex;
    padding: 100px 200px;
    justify-content: space-evenly;
}

.footer_details {
    max-width: 400px;
}

.footer_details h1 {
    margin-bottom: 10px;
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer_details p {
    margin-bottom: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.footer_details .icon {
    margin-top: 20px;
}

form {
    text-align: left;

}

.footer_form h2 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

input[type="email"] {
    margin-top: 20px;
    background-color: #151414;
    color: #FFF;
    padding: 20px 40px;
    border-radius: 5px;
}
.footer_form form input[type="submit"]{
    margin-top: 20px;
    border-radius: 8px;
    padding: 15px 20px;
    background-color: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
}